**/*.jpg
**/*.jpeg
.venv
uv.lock
model_zoo/checkpoint/
model_zoo/stable-diffusion-v1-5/
.env
.idea

# intermediate results
**/*.png
**/*.pt
**/*.csv

# python caches
+*/__pycache__/

# ppt
*.pptx

# template forms
*.pdf

# log files
*.log