DATASET: IAM
DATA_LOADER:
  NUM_THREADS: 12
MODEL:
  STYLE_ENCODER_LAYERS: 3
  NUM_IMGS: 15
  IN_CHANNELS: 4
  OUT_CHANNELS: 4
  NUM_RES_BLOCKS: 1
  NUM_HEADS: 4
  EMB_DIM: 512
SOLVER:
  BASE_LR: 0.0001
  EPOCHS: 2000
  WARMUP_ITERS: 20000
  TYPE: AdamW
  GRAD_L2_CLIP: 5.0
TEST:
  TYPE: test
  IMS_PER_BATCH: 8
  IMG_H: 64
  IMAGE_PATH: test_data
  STYLE_PATH: test_data
  LABEL_PATH: data/wikitext103.te
